@media only screen and (min-width: 992px){
     .col-xl-1 {width: 8.33%;} 
     .col-xl-2 {width: 16.66%;} 
     .col-xl-3 {width: 25%;} 
     .col-xl-4 {width: 33.33%;} 
     .col-xl-5 {width: 41.66%;} 
     .col-xl-6 {width: 50%;} 
     .col-xl-7 {width: 58.33%;} 
     .col-xl-8 {width: 66.66%;} 
     .col-xl-9 {width: 75%;} 
     .col-xl-10 {width: 83.33%;} 
     .col-xl-11 {width: 91.66%;} 
     .col-xl-12 {width: 100%;}

*{
     box-sizing: border-box;
}
body{
     margin: 0px;
     overflow-x: hidden;
}
header{
     width: 100%;
     padding: 10px;
 }
 #logo{
     background-image: url(../images/zap-logo1.png);
     background-size: cover;
     height: 38px;
     width: 168px;
     margin: 30px 0px 0px 40px;
 }
#menu {
     margin-left: 67.5%;
     font-family: 'montserratmedium';
     font-size: 19px;
     margin-top: 0px;
 }
  #box{
     width: 27px;
     height: 27px;
     background-color: rgb(230,93,52);
     margin-top: 28px;
     margin-left: -10.5%;
 }
  .curve{
     display: none;
 }

.cloud{
     display: block;
     margin-left: 65%;
}
#wrtmove{
     margin-top: -60px;
     padding: 10px;
     margin-left: 100px;
 }
  #writeup{
     display: none;
 }
 #writeup2{
     font-size: 50px;
     font-family: 'aber_monobold';
     padding: 30px;
     margin-top: -87px;
     font-weight: bold;
     margin-left: 5%;
     display: block;
 }
 #writeup2 p{
     margin-bottom: -37px;
 }
 .para3{
     padding: 25px 25px 0px 85px;
     font-size: 21px;
     display: block;
}
.para3 a{
     color: rgb(230,93,52);
     text-decoration: none;
     line-height: -40px;
     font-weight: bolder;
     font-family: 'montserrat_bold';
}
.para3 a:hover{
     color: red;
}
.para3 p{
     margin-bottom: -10px;
     font-family: 'montserratregular';
}









}